header {
    background-color: #aed6f1;
    height: 100px;
    width: 100%;
}  
/*setting img pada class logo*/
header img {      
    padding: 15px;
    width: 80px;
}
/*------------------------*/
/*setting header*/
header nav {
    width: 85%;
    float: left;
}

header nav h1 {
    margin: 5px;
    font-family: sans-serif;
}

header nav ul {
    float: right;
    margin-right: 15px;
}

header nav ul li {
    float: left;
    font-size: 16px;
    margin-left: 15px;
    display: block;
}
/*------------------------*/